common:avx2 --copt -mavx2
common:avx2 --copt -mbmi2

common:buildbuddy --remote_cache=grpcs://remote.buildbuddy.io
common:buildbuddy build --remote_timeout=3600

test --test_output=errors
test --test_summary=short
